@font-face {
    font-family: 'Cinzel-Medium';
    src: url('../public/Cinzel-Medium.ttf');
}
@font-face {
    font-family: 'Ramaraja-Regular';
    src: url('../public/Ramaraja-Regular.ttf');
}
body{
    font-family: 'Cinzel-Medium';
}