.navbarContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    /* top: 3vh; */
    position: absolute;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    user-select: none;
}
.navbarOnload{
    z-index: 100 !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.logo3D{
    position: fixed;
    width: 10vw;
    height: 10vw;
    z-index: -1;
    display: block;
    left: 0px;
    transform: translate(-15%, -15%);
    transition: all 1s ease-in-out;
}

.logo3D canvas{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
}
.tm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
    font-family: 'Cinzel-Medium';
    position: relative;
    text-align: center;
    /* text-shadow: 0px 0px 15px white, 0px 0px 25px white, 0px 0px 42px white; */
    text-shadow: 0px 0px 1px white, 0px 0px 5px rgb(255, 255, 255);
    color: white;
    transition: all 1s ease-in-out;
    /* animation: title 2s ease-in-out 0s infinite;
    animation-play-state: running; */
    text-decoration: none;
    padding-left: 8vw;
    margin-right: 1vw;
    z-index: 100;
    width: 20vw;
    height: 8vw;
    white-space: nowrap;
}
.ctm{
    text-shadow: 0px 0px 1px rgb(255, 180, 120), 0px 0px 5px rgb(255, 180, 120);
    color: rgb(255, 180, 120);
}
/* .tm:hover{
    animation-play-state: paused;
} */
/* @keyframes title {
    0%{
        text-shadow: 0px 0px 3px white, 0px 0px 5px white;
    }
    50%{
        text-shadow: 0px 0px 3px white;
    }
    100%{
        text-shadow: 0px 0px 3px white, 0px 0px 5px white;
    }
} */

.ts{
    display: block;
    position: relative;
    text-shadow: 0px 0px 1px white, 0px 0px 5px rgba(255, 255, 255);
    color: white;
    font-size: 2vw;
    font-family: 'Cinzel-Medium';
    text-align: center;
    margin-left: 4vw;
    text-decoration: none;
    cursor: pointer;
    z-index: 100;
    transition: all 1s ease-in-out;
}

.cts{
    text-shadow: 0px 0px 1px rgb(255, 180, 120), 0px 0px 5px rgb(255, 180, 120);
    color: rgb(255, 180, 120);
}

.socialCon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12vw;
}
.telegram img{
    width: 3vw;
}
.twitter img{
    width: 2.8vw;
}
.ss img{
    filter: invert(1);
    margin-left: 1.5vw;
}
